 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
}

:root{
    --bg-color:#fff;
    --second-bg-color: rgb(202, 195, 195);
    --text-color:#444242;
    --main-color:rgb(208, 10, 208);
}

svg{
    margin-bottom: -1rem;
}
.svg-2{
    transform: rotate(180deg);
    margin: -1rem;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
   
}

body{
    color: var(--text-color);
   
}
section{
    padding: 70px 10% 0;
}




/* SCROLL BAR */
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: #dddddddd;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}






/* lOGO */
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 2rem 9%;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
background-color: var(--bg-color);
opacity: 100%;
box-shadow: 1px 1px 10px var(--text-color)
}

.logo{
font-size: 25px;
color: var(--text-color);
text-decoration: none;
font-weight: 600;
cursor: default;
opacity: 0;
animation: slideRight 1s ease forwards;
margin-left: -1.5rem;
}






/* NAV BAR */
.navbar{
margin-right: -4rem;
}

.navbar a{
    display: inline-block;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition:.3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.header a:hover{
    transform: scale(.8);
}

.navbar a:hover, .navbar a.active{
    color:var(--main-color)
}

#menu-icon{
font-size: 3.6rem;
color: var(--text-color);
display: none;
}
#menu-icon:hover{
    cursor: pointer;
}






/* HOME */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    display: flex;
    background-color: var(--bg-color);
}

.social-media{
    grid-column-start: 1;
    margin-top:-1rem;
}

.social-media a{
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc( .2s * var(--i));
    
    
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow:  0 0 20px var(--main-color);
    transition: .5s;
}


.home-img{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;

}

.home-img img{
    max-width:450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    border-radius: 0;
    animation-delay: 1s, 3s;
    margin-top: -5rem;
   

    
}

.home-content{
    max-width: 600px;
    margin-left: -3rem;
    margin-top: -10rem;
    
   
}
.home-content h3{
    font-size: 30px;
    margin-left: -.5rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
   animation: slideTop 1s ease forwards;
   animation-delay: .7s;
    
}


.home-content h3 span{
color: var(--main-color)
}


.home-content h1 {
    font-size:48px;
    font-weight: 700;
    margin: -3px  0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
    
}

.home-content p{
    font-size: 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    margin-top: 1rem;
    font-weight: 500;
    
}

/* Buttons */
.btn{
    display: inline-block;
    padding: 10px 0%;
    background: var(--main-color);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--main-color);
    font-size: 14px;
    color: var(--bg-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    width: 35%;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 2;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
    transition: .3s;
    
}
.btn:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
    transition: .5s;
}

.tech-stack{
    display: flex;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
    margin-left: 34.1rem;
    margin-right: -30rem;
    margin-top: 8rem;
    position: absolute;
    
}

.tech-stack h2{
   margin-top: 3rem;
   font-size: 14px;
}

.tech-stack>.border-right{
    border-right: 2px solid var(--second-bg-color);
    height: 45px;
    margin: 2rem;
}

.tech-stack a{
display: flex;
list-style: none;
display: inline-flex; 
justify-content: center;
align-items: center;
font-size: 4rem;
border-radius: 50%;
text-decoration: none;
margin: 15px 15px 20px 0px ;
opacity: 0;
animation: slideLeft 1s ease forwards;
animation-delay: calc( .2s * var(--i)); 
color: gray;
}


.tech-stack a  img:hover{
    transform: scale(1.5);
    transition: .2s;
}
.tech-stack a  i:hover{
    transform: scale(1.5);
    transition: .2s;
}





/* ABOUT ME */
.about-me{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    background: var(--second-bg-color);
    padding: 70px 10% 0;
    padding-bottom: 8rem;
}

 /* Grid design*/
.about-me-img{
grid-column-start: 1;
}
.about-me-content{
    grid-column-start: 2
}
/* Grid design */
.about-me-img img{
    border-radius: 50%;
    width: 250px;
}
.about-me-content h2{
    text-align: center;
    font-size: 34px;
    color: #fff;
    transition: .3s ease-in-out;
    background-color: var(--second-bg-color);
    margin-bottom: 1rem;
   
    
}
.about-me span{
    color: var(--main-color);
}
.about-me-content p{
    margin-bottom: 2rem;
    font-size: 14px;
}
.about-me-img img{
    width: 35vw;
    margin-bottom: 8rem;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-me-content h2{ 
    text-align: left;
    line-height: 1.2;
}

.about-me-content h3 {
    font-size: 2.2rem;
}

.about-me-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;

}






/* SERVICES */
.services{
    background-color: var(--bg-color);
    padding: 70px 10% 0;
}
.services span{
    color: var(--main-color);
}
.services h2{
    margin-bottom: 5rem;
    font-size:4rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-bottom: 8rem;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
}
.services-container .services-box:hover{
    border: 2px solid var(--main-color);
    transition: 1s;
}
.services-box{
    margin-bottom: 4rem;
}
.services-box:hover{
    transform: scale(1.1);
    transition: .1s;
}

.services-box i {
    font-size: 6rem;
    color: var(--main-color);
}
.services-box h3 {
    font-size: 2.2rem;

}
.services-box p {
    font-size: 14px;
    margin:1rem 0 3rem;
}
.services-box .btn{
    width: 50%;
}






/* Portafolio */
.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
margin-bottom: 4rem;
font-size: 4rem;
}

.portfolio span{
    color:var(--main-color)
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 10rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    display: flex;
    overflow: hidden;
    margin: .8rem;
}


.portfolio-box img{
    width: 100%;
    border-radius: 2rem;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    opacity: 95%;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer{
font-size: 2rem;
}

.portfolio-layer p{
    font-size: 1.4rem;
    margin: .3rem 0 1rem;

}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--bg-color);
    
}






/* Contact */
.contact h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
}

.contact{
    background:var(--bg-color);
    padding-bottom: 8rem;
}
.contact span{
     color: var(--main-color);
}

.contact form{
    max-width:  65rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: -2rem
}   

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap:  wrap;

}

.contact form .input-box input, .contact form textarea{
    width:100%;
    padding: 1.2rem;
    font-size: 1.4rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top:  2rem;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: .3s;
}






/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;

}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color:var(--bg-color)
}






/* BREAKPOINTS */

@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    


}

@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
    .logo{
        margin:0;
    }
    .tech-stack{
        margin-left: 15rem;
    }
    .home-content{
        margin-top: 0;
    }
    .btn {
        width: 80%;
    }
}

@media (max-width:768px) {
    #menu-icon {
        display: block;
    }
    .logo{
        margin:0;
    }
    .home-content{
        margin-top: 0;
        text-align: center;
    }
    /* .social-media {

    } */

    .navbar {
        position: absolute;
        top: 100%;
        left:0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: none
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        margin-top: 8rem;
        flex-direction: column;
        padding-bottom: 120rem;
    }

    .home.home-content h3 {
        font-size:  2.6rem;
    }

    .home.home-content h1 {
        font-size: 5rem;
    }
    .home-content p {
        text-align: center;
        margin-top: 5rem;
    }
    .tech-stack{
        margin-left: 14rem;
    }

    .home-img img {
        width: auto;
        margin-right: 5rem;
        margin-top: 20rem;
    }
    .tech-stack {
        margin-top: 6rem;
        margin-left: 12rem;
    }

    .about-me{
        flex-direction: column-reverse;
    }

    .about-me img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);

    }
    .btn {
        margin-left: auto;
        margin-top: 3rem;
    }
    .social-media{
        margin-top: 2rem;
        margin-left: auto;
    }

    }
    @media (max-width:676px) {
        .tech-stack {
            margin-left: 7.5rem;
        }
    }

    @media (max-width:638px) {
        .tech-stack {
            margin-left: 7.5rem;
        }
    }

    @media (max-width:617px) {
        .portfolio-container{
            grid-template-columns: 1fr;
        }
        .logo{
            margin:0;
        }
        .tech-stack{
            margin-top: 4rem;
            margin-left: 5.8rem;
        }
        .home-content{
            margin-top: 0;
        }
        .btn {
            width: 80%;
            margin-left: auto;
    
        }
        .social-media {
            margin-top: 2rem;
            margin-left: auto
        }
        .home-img img {
            width: 400px;
            height: 380px;
        } 
        
        
    }

    @media (max-width: 521px) {
        .home-img img {
            width: 350px;
            height: 300px;
            margin-top: 21rem;
        }
      .tech-stack{
        margin-left:1rem;
        margin-top: 5rem;;
      }
        .social-media{
            margin-top: rem;
            margin-left: auto;
        }
        .btn {
            margin-top: 2rem;
            width: 80%;
        }
    }

    @media (max-width: 450px) {
        html {
            font-size: 50%;
        }
        .logo{
            margin:0;
        }
        .contact form .input-box input {
            width:100%;
        }
        
        .home-content{
            margin-top: 0;
        }
        .tech-stack{
         margin-top: 4rem;
         margin-right: 4rem;   
        }
       
        .about-me {
            margin-top: 5rem;
        }
        .home-img img {
           width: auto;
            margin-top: 20rem;
        }
        .social-media {
            margin-top: 2rem;
            margin-left: auto;
        }
        .btn {
            margin: auto;
            
        }
        svg{
            margin-bottom: -7rem;
        }
    }

    @media (max-width: 375px) {
            #menu-icon{
                margin-right: 2rem;
            }
           
        .home{
            margin: 0;
            margin-top: 4rem;
        }
    
        .home-img img {
            width: 250px;
            height: 250px;
            margin-top: 17rem;
            
        }
      
        .about-me-img img {
            width: 70vw;
        }

        .footer{
            flex-direction: column-reverse;
        }

        .footer p {
            text-align: center;

        }
     
        .btn {
            width: 80%;
        }
        .social-media {
            margin-left: 4.5rem;
            margin-top: 2rem;
        }
        .tech-stack {
            margin-left: 0rem;
        }
       
      
        .about-me {
            margin-top: 0;
        }
       
    }
     

     @media (max-width: 322px) {
        #menu-icon{
            margin-right: 5rem;
        }
        .tech-stack {
           display: none;
            
        }
        .home-img img{
            width: 240px;
            height: 240px;
            margin-bottom: 20rem;
        }
     }
    































































/* KEYFRAMES ANIMATION */

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
        
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

